<div class="row">
  <div class="col-md-8">
    <h1>Welcome <span class="label label-success"><%= @user.name %></span> <small>active since: <%= @user.created_at.strftime("%B %d, %Y") %></small></h1>
  </div>
  <div class="col-md-4">
    <%= link_to "New Task", new_task_path, class: 'btn btn-primary' %>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-8">
    <h1>Active tasks</h1>
    <table class="table table-bordered table-hover">
      <tr class="table-heading">
        <th>title</th>
        <th>expected end in</th>
        <th></th>
        <th></th>
      </tr>
      <% @tasks.each do |task| %>
        <tr>
          <% if task.completed %>
            <td class="text-muted"><%= task.title %></td>
            <td class="text-muted">completed in <%= completion_time(task) %></td>
            <td><span class="glyphicon glyphicon-ok text-muted"></span></td>
            <td></td>
          <% elsif task.deleted %>
            <td class="text-muted"><del><%= task.title %></del></td>
            <td class="text-muted"><del>deleted after <%= completion_time(task) %></del></td>
            <td></td>
            <td><strong>deleted</strong></td>
          <% else %>
            <td><%= task.title %></td>
            <td><%= time_left(task) %></td>
            <td>
              <%= form_for task do |t| %>
                <%= t.hidden_field :completed, id: "task_#{task.id}_completed", value: "1" %>
                <%= t.submit "completed", class: 'btn btn-success' %>
              <% end %>
            </td>
            <td>
              <%= form_for task do |t| %>
                <%= t.hidden_field :deleted, id: "task_#{task.id}_completed", value: "1" %>
                <%= t.submit "delete", class: 'btn btn-danger' %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class=col-md-4>
    <h3>Completed</h3>
    <table>
    </table>

    <h3>Uncompleted</h3>
    <table>
    </table>

    <h3>Deleted</h3>
    <table>
    </table>
  </div>
</div>
