<div class="row">
  <div class="col-md-12">
    <h1>Welcome to your profile page: <%= @user.name %></h1>
  </div>
</div>
<div class="row">
  <div id="user-data" class="col-md-4">
    <h3>Your data</h3>
    <ul>
      <li><strong>Name:</strong> <%= @user.name %></li>
      <li><strong>Google image:</strong> <%= image_tag "#{@user.image}", size: "16" %></li>
      <li><strong>First login at:</strong> <%= @user.created_at %></li>
    </ul>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>
</div>
<%= session[:user_id] %>
