<div class="row">
  <div class="col-md-8">
    <h1><%= @user.name %> <small>profile page</small></h1>
  </div>
  <div class="col-md-4 buttons">
    <%= link_to "New Task", new_task_path, class: 'btn btn-primary' %>
    <%= link_to "Tasks Page", tasks_path, class: 'btn btn-success' %>
  </div>
</div>
<br />
<div class="row">
  <div class="user-profile-info col-md-6">
    <h3>Tasks overview</h3>
    <ul>
      <li>Total tasks: <%= @tasks.count %></li>
      <li>Completed Tasks: <%= @completed_tasks.count %></li>
      <li>Deleted Tasks: <%= @deleted_tasks.count %></li>
      <li>Incompleted Tasks: <%= @uncompleted_tasks.count %></li>
    </ul>
  </div>
  <div class="user-profile-info col-md-6">
    <h3>You have <strong class="text-primary"><%= expiring_tasks_count(@active_tasks, 604800) %></strong> expiring tasks <small>(in one week)</small></h3>
    <ul>
      <li><span class="text-uppercase">To do by today</span>: <strong><%= today_tasks = expiring_tasks_count(@active_tasks, 0) %></strong></li>
      <li><span class="text-uppercase">To do by tomorrow</span>: <strong><%= tomorrow_tasks = expiring_tasks_count(@active_tasks, 86400) - today_tasks %></strong></li>
      <li><span class="text-uppercase">To do in one week</span>: <strong><%= expiring_tasks_count(@active_tasks, 604800) - tomorrow_tasks %></strong></li>
    </ul>
  </div>
</div>
