<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
  	<ul class="nav nav-tabs">
  		<li><%= link_to "Home", root_path %></li>
  		<li><%= link_to "About", welcome_about_path %></li>
  		<div class="pull-right user-info">
        <% if current_user %>
          <%= image_tag "#{current_user.image}", size: "32", alt: current_user.name %>
          Signed in as <strong><%= current_user.name %></strong>
          -
          <%= link_to 'Log Out', session_path(current_user.id), method: :delete %>
        <% else %>
          <%= link_to "Sign In with your Google account", '/auth/google_oauth2' %>
        <% end %>
  		</div>
  	</ul>
  	<% if flash[:notice] %>
  		<div class="alert alert-success">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% elsif flash[:alert] %>
  		<div class="alert alert-danger">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>

    <%= yield %>
  </div>
</body>
</html>
